.project {
  text-align: center;
  font-size: 1rem;

  p {
    color: $project-text-color;
  }

  .date-created {
    color: $date-text-color;
    font-weight: bold;
    font-size: 0.85rem;
    margin-bottom: 0.3rem;
  }

  a:hover {
    box-shadow: 0 0 5px #88d0e9;
  }

  .files {
    text-align: left;
    font-weight: bold;
  }
}

.myfile-row {
  text-align:left;
}

.left-text-align {
  text-align: left;
}

.right-text-align {
  text-align: right;
}

.brief-description {
  margin-bottom: 0;
}

.project-description {
  //color: $brief-description-color;
  margin-bottom: 0.5rem;
}

.project-list {
  > :first-child {
    margin-top: 1rem;
  }
}


.file-download {
  margin: 0;
}

.project-control-bar {
  // display: flex;
  // justify-content: space-between;

  button {
     padding-top: 0.4rem;
     padding-bottom: 0.4rem;
  }
}

.create-project {
  margin-top: 1rem;

  label {
    font-size: 1rem;
    font-weight: bold;
    color: $project-text-color;
  }

  input {
    color: $project-text-color;
  }

  textarea {
    color: $project-text-color;
  }
}

.edit-project {
  @extend .create-project;
}

.create-button {
  margin-top: 1rem;
}
